/* #results-container {
  width: var(--main-width);
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: var(--bg-off);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#results-container h2 {
  color: var(--orange-main);
}

#results-container p {
  margin-top: 1rem;
  font-size: 3em;
}

#results-container #category {
  font-size: 1em;
  text-align: center;
  width: 90%;
  background-color: var(--bg-main);
  padding: 1.5rem 1rem;
  border-radius: 10px;
} */

/* trying styled components */
