#input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#input-container label {
  margin-bottom: 0.2rem;
  color: var(--bg-main);
}

#input-container input {
  width: 45%;
  text-align: center;
  font-size: 1.3em;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--bg-main);
  color: var(--text-main);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
