@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');

:root {
  --bg-main: #222;
  --bg-off: #343434;
  --text-main: #ddd;
  --input-main: #444;
  --orange-main: rgb(255, 122, 0);
  --orange-off: rgb(255, 186, 122);

  --low: rgb(55, 160, 192);
  --normal: rgb(65, 255, 91);
  --overweight: rgb(255, 229, 79); 
  --obese: rgb(255, 55, 55);

  --main-width: 600px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-size: 1rem;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}